# pycharm config folder
.idea/

# python virtual environment
.venv/

# javascript package for frontend
node_modules/

# environment credentials
*.env

# pycache
__pycache__/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# build output
dist
dist-ssr
*.local

# editor directories & files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?